XML ejemplo/XMLEJERCICIOS2/ejercicio39.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- xsd qie equivale al dtd ejercicio5.dtd-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="persona">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string" minOccurs="1" maxOccurs="unbounded"></xs:element>
                <xs:element name="apellido" type="xs:string"></xs:element>
                <xs:element name="correo" type="xs:string"></xs:element>
                <xs:element name="twitter" type="xs:string"></xs:element>
                    
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>